.button {
  height: 48px;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
}

.button_primary {
  background: #ffffff;
  border: 1px solid #e2e3e5;
}

.button_primary:active {
  border-color: #5d5fef;
}

.button_secondary {
  color: #ffffff;
  background: #5d5fef;
  border: 1px solid #5d5fef;
}

.button_secondary:active {
  border-color: #e2e3e5;
}
