@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: "Inter", sans-serif;  
}

:root {
  --min-padding: 4px;
  --max-padding: 8px;

  --color-white: #ffffff;
  --color-ligth-grey: #f3f4f6;

  --display-text-color: #111827;

  --box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
}
