@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: "Inter", sans-serif;
  background-color: rgb(186, 190, 190);
}

:root {
  --min-padding: 4px;
  --max-padding: 8px;

  --color-white: #ffffff;
  --color-ligth-grey: #f3f4f6;

  --display-text-color: #111827;
}
